<header>
    <div class="d-flex justify-content">
        <img class="img-fluid" src="/assets/imagens/logo.svg" width="48" alt="chat-icon logo" />
        <span class="h3 flex-grow-1 align-self-center m-0"> CHATI - O CHAT CHATO</span>
        <div class="d-inline-block">
            <button mat-mini-fab [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button type="button" mat-menu-item (click)="novoEvent()">Novo</button>
                <button type="button" mat-menu-item (click)="atualizarEvent()">Atualizar</button>
                <button type="button" mat-menu-item (click)="habilitarNotificacoes()">Notificações</button>
            </mat-menu>
        </div>
    </div>
</header>