<header>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content">
                <img class="img-fluid" src="/assets/imagens/logo.svg" width="48" alt="chat-icon logo" />
                <span class="h3 flex-grow-1 align-self-center m-0"> CHATI - O CHAT CHATO</span>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-default" id="dropdownBasic1" ngbDropdownToggle>
                        Ações
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem type="button" (click)="novoEvent()">Novo</button>
                        <button ngbDropdownItem type="button" (click)="atualizarEvent()">Atualizar</button>
                        <button ngbDropdownItem type="button" (click)="downloadBackup()">Download backup</button>
                        <button ngbDropdownItem type="button" (click)="uploadBackup()">Restore backup</button>
                        <button ngbDropdownItem type="button" (click)="habilitarNotificacoes()">Notificações</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>