<header>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content">
                <img class="img-fluid" src="/assets/imagens/logo.svg" width="48" alt="chat-icon logo" />
                <span class="h3 flex-grow-1 align-self-center m-0"> CHATI - O CHAT CHATO</span>
                <div class="dropdown dropstart">
                    <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        ACÕES
                    </button>
                    <ul class="dropdown-menu" id="acoes"></ul>
                </div>
            </div>
        </div>
    </div>
</header>