<form [formGroup]="form">
    <input class="form-control" type="hidden" name="id">
    <div class="row">
        <div class="col-md-12 mb-3">
            <label class="fw-bold" for="titulo">Título </label>
            <input class="form-control" type="text" id="titulo" formControlName="titulo" placeholder="Título do Evento">
        </div>
        <div class="col-md-12 mb-3">
            <label class="fw-bold" for="topico">Topico </label>
            <input class="form-control" type="text" maxlength="20" id="topico" formControlName="topico"
                placeholder="Separar conversa em topicos">
        </div>
        <div class="col-md-12 mb-2">
            <label class="fw-bold">Mensagem</label>
            <input class="form-control" type="text" formControlName="mensagem"
                placeholder="Texto informado na mensagem">
        </div>
        <div class="col-md-12 mb-2">
            <label class="fw-bold">URL</label>
            <input class="form-control" type="url" formControlName="url" placeholder="URL">
        </div>
        <div class="col-md-12 mb-3">
            <label class="fw-bold">Tema do Cartão</label>
            <input class="form-control form-control-color" type="color" formControlName="cor" placeholder="Cor">
        </div>
    </div>
</form>