:host .header {
    padding-bottom: 10px;
    vertical-align: middle;
    border-bottom: 1px solid black;
}


:host .tema-verde {
    border-left: solid green 8px;
}

:host .tema-verde:hover {
    background-color: rgba(0, 255, 0, 0.1);
}


:host .tema-verde .header {
    border-bottom: solid green 3px;
}

:host .tema-vermelho {
    border-left: solid red 8px;
}

:host .tema-vermelho:hover {
    background-color: rgba(255, 0, 0, 0.1);
}


:host .tema-vermelho .header {
    border-bottom: solid red 3px;
}

:host .tema-amarelo {
    border-left: solid yellow 8px;
}

:host .tema-amarelo:hover {
    background-color: rgba(255, 251, 0, 0.1);
}


:host .tema-amarelo .header {
    border-bottom: solid yellow 3px;
}

:host .tema-azul {
    border-left: solid blue 8px;
}

:host .tema-azul:hover {
    background-color: rgba(0, 0, 0255, 0.1);
}


:host .tema-azul .header {
    border-bottom: solid blue 3px;
}

:host .tema-fuscia {
    border-left: solid rgb(255, 0, 255) 8px;
}

:host .tema-fuscia:hover {
    background-color: rgba(255, 0, 255, 0.1);
}


:host .tema-fuscia .header {
    border-bottom: solid rgb(255, 0, 255) 3px;
}

:host .tema-ciano {
    border-left: solid rgb(3, 168, 233) 8px;
}

:host .tema-ciano:hover {
    background-color: rgba(3, 168, 233, 0.1);
}


:host .tema-ciano .header {
    border-bottom: solid rgb(3, 168, 233) 3px;
}

:host .hover {
    border-radius: 10px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 10px;
}

:host .hover:hover {
    background-color: rgba(200, 200, 200, 0.5);
}