<mat-card appearance="outlined" class="mb-3">
    <mat-card-header>
        <div class="d-flex justify-content-between w-100 ">

            <mat-card-title> {{chat?.titulo}}</mat-card-title>
            <button mat-mini-fab [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button type="button" mat-menu-item>Editar</button>
                <button type="button" mat-menu-item>Excluir</button>
                <button type="button" mat-menu-item>Teste</button>
                <button type="button" mat-menu-item (click)="expande = true">Expandir</button>
            </mat-menu>

        </div>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div class="mb-2 py-2">
                <div class="text-light">Mensagem</div>
                <div class="fw-bold" [ngClass]="{'text-overflow': !expande}">
                    {{chat?.mensagem}}
                </div>
            </div>
            <div>
                <div>URL</div>
                <div class="text-overflow ">
                    {{chat?.url}}
                </div>
            </div>
        </div>
    </mat-card-content>
    <!-- <mat-card-footer class="example-card-footer">

    </mat-card-footer> -->
</mat-card>