/*
    Created on : 8 de mai. de 2023, 21:42:13
    Author     : gilmario
*/

html, body, main{
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

.messagem {
    min-width: 250px;
    position: fixed;
    z-index: 9999;
}

.loader {
    position: fixed;
    z-index: 9999;
    right: 20px;
    bottom: 20px;
}

.loader-content {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cursor-pointer {
    cursor: pointer;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.hover-efect:hover {
    border-color: var(--bs-danger-bg-subtle);
    background-color: var(--bs-secondary-bg);
}

.hidden-seta-menu::before {
    display: none !important;
}
